#root {
  margin: 0 auto;
  text-align: center;
}

.bg-img {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -5;
}

.header {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  border-bottom: 1px white solid;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  gap: 3%;
  font-size: 2vw;
  padding-bottom: 2%;
  padding-top: 2%;
}

.imageCropper {
  border-radius: 50%;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  
}

.home {
  display: grid;
  grid-template-areas: 
  "profile"
  "contact";
}

.card {
  grid-area: "profile";
  height: 15vw;
  width: 40vw;
  display: flex;
  background-color: #1F1A24;
}

.profile-pic {
  position: relative;
  height: 100%
}

.profile-text {
  color: white;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
  margin-left: 20px;
  margin-right: 30px;
  font-size: 0.8vw;
}

.contact-info {
  grid-area: "contact";
  color: white;
  border: 1px solid white;
  display: grid;
  grid-template-areas:
  "linkedin-icon linkedin-text"
  "github-icon github-text"
  "email-icon email-text"
  "phone-icon phone-text";
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.linkedin-text {
  grid-area: "linkedin-text";
}

.linkedin-icon {
  grid-area: "linkedin-icon";
  height:3vw;
}

.github-text {
  grid-area: "github-text";
}

.github-icon {
  grid-area: "github-icon";
  height:3vw;
}

.email-text {
  grid-area: "email-text";
}

.email-icon {
  grid-area: "email-icon";
  height:3vw;
}

.phone-text {
  grid-area: "phone-text";
}

.phone-icon {
  grid-area: "phone-icon";
  height:3vw;
}

@media only screen and (max-width: 1400px){
  .card {
    height: 210px;
    width: 560px;
  }
  .profile-text {
    font-size: 11.2px;
  }
}

@media only screen and (max-width: 900px) {
  .card {
    display: grid;
    grid-template-areas: 
    "profile-pic"
    "profile-text"
    ;
    width: 225px
  }
  .profile-pic {
    grid-area: "profile-pic";
    height: 225px;
    width: 225px;
  }
  .profile-text {
    grid-area: "profile-text";
    background-color: #1F1A24;
    margin: 0;
    padding: 10px;
  }
}

@media only screen and (max-width: 430px) {
  .card {
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%);
  }
}


